.navbar-container {
  height: 5vh;
  display: flex;
  background-color: #fcfcfc;
}

.navbar-logo {
  display: flex;
  padding: 10px;
  height: 100px;
  width: 100px;
  z-index: 10000;
}

.navbar-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-container {
  display: flex;
  margin: 5px 13px;
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 1px solid black;
}

.search-input {
  background: transparent;
  padding: 5px 13px;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 85%;
}
