#searched-profile {
  height: 95vh;
  overflow: scroll;
}

#searched-profile .awssld__content {
  background-color: #fcfcfc;
}

#searched-profile .awssld__wrapper {
  height: 88vh;
}

.profile-container-not-found {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.profile-container {
  display: flex;
  width: 100%;
  gap: 1%;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.image {
  width: 50%;
}
